<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/name" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="feliz natal" required>
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>
        <br>
        <input type="submit" value="Submit">
        <label for="curso">Curso:</label>
        <input type="text" id="curso" name="curso" required>
    </form>
</body>
</html>