!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadrastro</title>
</head>
<body>
    <h2> Cadrastro de Usuário</h2>
    <form method="POST">
        <label Nome:</label> <br>
        <input type="text" id="nome" name=" "nome" required><br><br>
        
        label for="nome completo"> nome completo: </label><br>
        <input type="nome completo" id="nome completo" name="nome completo" required><br><br>

        label for="idade"> idade: </label><br>
        <input type="idade" id="idade" name="idade" required><br><br>

        label for="email"> Email: </label><br>
        <input type="email" id="email" name="email" required><br><br>

        label for="senha"> senha: </label><br>
        <input type="senha" id="senha" name="senha" required><br><br>

        label for="telefone"> telefone: </label><br>
        <input type="telefone" id="telefone" name="telefone" required><br><br>


        label for="estado"> estado: </label><br>
        <input type="estado" id="estado" name="estado" required><br><br>

        label for="CPF"> CPF: </label><br>
        <input type="CPF" id="CPF" name="CPF" required><br><br>

        label for="curso"> curso: </label><br>
        <input type="curso" id="curso" name="curso" required><br><br>

        
        <button type="submit"></button>Cadrastrar</button>
    </form>
</body>
</html>